/* ImageGallery.module.css */

.imageGallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imageGallery li {
  margin: 10px;
}

.imageGallery li:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.imageGallery img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}